<div class=" text-center">
<div class="row">
<div class="col-md-10 col-md-offset-1">
  <h2>Alerts</h2>
  <button class="btn btn-success" (click)="success('Success!!')">Success</button>
  <button class="btn btn-danger" (click)="error('Error :(')">Error</button>
  <button class="btn btn-info" (click)="info('Some info....')">Info</button>
  <button class="btn btn-warning" (click)="warn('Warning: ...')">Warn</button>
  <button class="btn btn-default" (click)="clear()">Clear</button>
</div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <app-alert></app-alert>
  </div>
</div>
</div>